

@model List<Person>



@{
    ViewBag.Title = "Home DataBase";//added by auther
                                    //ViewData["Title"] = "Home Index";
}


<div class="people">
    <partial name="_ViewPeople" model="@Model" />
</div>








